<form #formulaire="ngForm">
  <label for="name">Name</label>
  <input ngModel name="name" id="name" type="text" class="form-control" />

  <label for="firstname">Firstname</label>
  <input
    ngModel
    name="firstname"
    id="firstname"
    type="text"
    class="form-control"
  />

  <label for="job">Job</label>
  <input ngModel name="job" id="job" type="text" class="form-control" />

  <label for="age">Age</label>
  <input id="age" ngModel name="age" type="number" class="form-control" />

  <label for="cin">Cin</label>
  <input ngModel name="cin" id="cin" type="number" class="form-control" />

  <label for="path">Path</label>
  <input ngModel name="path" id="path" type="text" class="form-control" />

  <button class="btn btn-primary" (click)="addCv(formulaire.value)">
    Envoyer
  </button>
</form>
